# Secrets
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.swp

# Device simulator state
device_id.txt

# Mosquitto persistent data
mosquitto/data/
device_id.txt
mosquitto/data/mosquitto.db
mosquitto/data/mosquitto.db-wal
mosquitto/data/mosquitto.db-shm

# OS files
.DS_Store
Thumbs.db
